<div class="container w-full">
  <div class="grid">
    <div class="col-12 flex flex-column justify-content-start aling-items-center">
      <div class="col-12 flex flex-column sm:flex-column md:flex-row lg:flex-row xl:flex-row justify-content-around align-items-start gap-2 mt-5">

        <div class="col-12 sm:col-12 md:col-4 lg:col-3 xl:col-3 surface-hover flex flex-column justify-content-center align-items-center border-round cursor-pointer" (click)="naviagteTo('customers')">
          <i class="lms-customer"></i>
          <p class="px-2 py-2 text-primary-500 font-bold">CREATE CUSTOMER </p>
        </div>
        <div class="col-12 sm:col-12 md:col-4 lg:col-3 xl:col-3 surface-hover flex flex-column justify-content-center align-items-center border-round cursor-pointer" (click)="naviagteTo('order-detail/0')">
          <i class="lms-pos"></i>
          <p class="px-2 py-2 font-bold"> CREATE SALES </p>
        </div>
        <div class="col-12 sm:col-12 md:col-4 lg:col-3 xl:col-3 surface-hover flex flex-column justify-content-center align-items-center border-round cursor-pointer" (click)="naviagteTo('orders')">
          <i class="lms-print-sales"></i>
          <p class="px-2 py-2 text-orange-500 font-bold">PRINT SALES ORDER</p>
        </div>
      </div>
      
      <div class="col-12 flex flex-column sm:flex-column md:flex-row lg:flex-row xl:flex-row justify-content-around align-items-start gap-3 mt-5">
        <div class="col-12 sm:col-12 md:col-4 lg:col-3 xl:col-3 surface-hover flex flex-column justify-content-around align-items-center border-round cursor-pointer " (click)="naviagteTo('products')">
          <i class="lms-product-list"></i>
          <p class="px-2 py-2 text-teal-500 font-bold">PRODUCT LIST</p>
        </div>
        <div class="col-12 sm:col-12 md:col-4 lg:col-3 xl:col-3 surface-hover flex flex-column justify-content-around align-items-center border-round cursor-pointer" (click)="naviagteTo('product/inventory')">
          <i class="lms-product-report"></i>
          <p class="px-2 py-2 text-red-500 font-bold">PRODUCT INVENTORY REPORT</p>
        </div>
        <div class="col-12 sm:col-12 md:col-4 lg:col-3 xl:col-3 surface-hover flex flex-column justify-content-around align-items-center border-round cursor-pointer" (click)="naviagteTo('order/sales-report')">
          <i class="lms-sales-report"></i>
          <p class="px-2 py-2 text-bluegray-500 font-bold">SALES ORDER SUMMARY</p>
        </div>
      </div>
    </div>
    

  </div>
</div>