<div class="col-12 flex flex-row justify-content-end align-items-center flex-wrap">
  <div class="col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6">
    <div class="p-inputgroup">
      <input type="text" class="p-inputtext-sm" [(ngModel)]="keywords" pInputText placeholder="Search...">   
      <button pButton type="button" class="p-button-sm p-button-raised" icon="pi pi-search" (click)="search()"></button>      
    </div>
  </div>
</div>

<div class="col-12">
  <p-table [value]="stocks" (onLazyLoad)="showStockInLazyLoad($event)" [loading]="loading" [lazy]="true"
  [resizableColumns]="true" styleClass="p-datatable-gridlines p-datatable-sm p-datatable-striped" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr class="text-sm">
            <th pResizableColumn style="text-align: center; width: 5%;">No</th>
            <th pResizableColumn>Supplier</th>
            <th pResizableColumn>Product</th>
            <th pResizableColumn>Transaction No</th>
            <th pResizableColumn>Van No.</th>
            <th pResizableColumn>Quantity</th>
            <th pResizableColumn>Date</th>
            <th pResizableColumn>Status</th>
            <th pResizableColumn>Created By</th>
            <th pResizableColumn style="text-align: center; width: 15%;">Created Date</th>
            <th pResizableColumn style="text-align: center; width: 5%;">Detail</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-stock let-i="rowIndex">
        <tr class="text-xs">
            <td> {{ i + 1 }}</td>
            <td>{{stock.supplier?.supplier_name | titlecase }}</td>
            <td>{{stock.product?.product_name | titlecase }}</td>
            <td>{{stock.transaction_number }}</td>
            <td>{{stock.van_number }}</td>
            <td>{{stock.quantity }}</td>
            <td>{{stock.date }}</td>
            <td [ngClass]="{'text-red-600' : !stock.status }" class="text-teal-500">{{stock.status == 1 ? 'Completed' : 'Pending' }}</td>
            <td>{{stock.user?.name  }}</td>
            <td>{{stock.created_at | date: 'EEEE - MMMM d, y h:mm a' }}</td>
            <td><button pButton type="button" label="View Detail" (click)="updateStocks(stock)" icon="pi pi-pencil" class="p-button-text p-button-primary p-button-sm text-xs"></button></td>
        </tr>
    </ng-template>
</p-table>
</div>


<div class="col-12">
  <button pButton pRipple type="button" label="<<" class="p-button-text paginator" id="firstPage" (click)="firstPage()"></button>
  <button pButton pRipple type="button" label="<" class="p-button-text paginator" id="prevPage" (click)="prevPage()"></button>
  <button pButton pRipple type="button" [label]="page_detail" class="p-button-text paginator" disabled></button>
  <button pButton pRipple type="button" label=">" class="p-button-text paginator" id="nextPage" (click)="nextPage()"></button>
  <button pButton pRipple type="button" label=">>" class="p-button-text paginator" id="lastPage" (click)="lastPage()"></button>
</div>
