<div class="container w-full">
  <div class="grid">
    <div class="col-12 flex justify-content-left align-items-center flex-column">
      <div class="col-12">
        <form [formGroup]="changePasswordForm">
          <div class="col-12 flex justify-content-center align-items-center flex-column gap-3">
            <div class="col-12">
              <span class="p-float-label">
                <input type="password" formControlName="new_password" name="new_password" class="outline-none w-full" [ngClass]="{'ng-invalid ng-dirty' : (changePasswordForm.controls.new_password.touched && changePasswordForm.controls.new_password.invalid )}" required pInputText /> 
                <label for="float-input">New Password :</label>
              </span>
              <small *ngIf="changePasswordForm.controls.new_password.touched && changePasswordForm.controls.new_password.invalid" class="p-error block p-2">Invalid valid Password </small>
            </div>
            <div class="col-12">
              <span class="p-float-label">
                <input type="password" formControlName="confirm_password" name="confirm_password" class="outline-none w-full" [ngClass]="{'ng-invalid ng-dirty' : (changePasswordForm.controls.confirm_password.touched && changePasswordForm.controls.confirm_password.invalid )}" required pInputText /> 
                <label for="float-input">Confirm New Password :</label>
              </span>
              <small *ngIf="changePasswordForm.controls.confirm_password.touched && changePasswordForm.controls.confirm_password.invalid" class="p-error block p-2">Invalid valid Password </small>
            </div>
            <div class="col-12 flex justify-content-between align-items-center flex-row">
              <button pButton type="button" label="Submit" [disabled]="changePasswordForm.invalid" (click)="changePassword()" class="p-button-raised p-button-primary p-button-sm w-full outline-none"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
