<div class="container w-full fadein animation-duration-2000">
    <!-- Dashboard Wrapper-->
    <div class="col-12 justify-content-center align-items-center ">
      <!-- Dashboard column divider-->
      <div class="col-12 flex flex-column justify-content-start align-items-start">

        <!-- First column -->
        <div class="col-12">
          <div class="col-12 flex flex-column sm:flex-column md:flex-row lg:flex-row xl:flex-row justify-content-start align-items-center">
            <div class="col-12 sm:col-12 md:col-8 lg:col-10 xl:col-10">
              <h3 class="text-primary text-xl uppercase mt-3 px-2">Dashboard</h3>
            </div>
            <div class="col-12 sm:col-12 md:col-4 lg:col-2 xl:col-2 flex flex-column sm:flex-column md:flex-row lg:flex-row xl:flex-row justify-content-around align-items-center gap-3">
              <div class="col-12 flex justify-content-end">
                <p-calendar [(ngModel)]="start_date" (onSelect)="selectedDate($event)" dateFormat="yy-mm-dd" [maxDate]="maxDate" [touchUI]="true" [readonlyInput]="true" inputId="touchui" class="w-full" ></p-calendar>
              </div>
            </div>
          </div>
        </div>
        <!-- End First column -->


        <!-- First column -->
        <!-- <div class="col-12">
          <div class="col-12 flex flex-column sm:flex-column md:flex-row lg:flex-row xl:flex-row justify-content-start align-items-center">
            <div class="col-12 sm:col-12 md:col-4 lg:col-8 xl:col-8">
              <h3 class="text-primary text-xl uppercase mt-3 px-2">Dashboard</h3>
            </div>
            <div class="col-12 sm:col-12 md:col-8 lg:col-4 xl:col-4 flex flex-column sm:flex-column md:flex-row lg:flex-row xl:flex-row justify-content-around align-items-center gap-3">
              <div class="col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6">
                <span class="p-float-label">
                  <p-calendar inputId="basic" [(ngModel)]="start_date"
                  (onSelect)="selectedDate($event)"
                  [maxDate]="maxDate"
                    styleClass="p-inputtext-sm w-full" dateFormat="yy-mm-dd" ></p-calendar>
                  <label for="inputtext" class="p-text-xs">START DATE </label>
                </span>
              </div>
              <div class="col-12 sm:col-12 md:col-6 lg:col-6 xl:col-6">
                <span class="p-float-label">
                  <p-calendar inputId="basic" [(ngModel)]="end_date"
                  (onSelect)="selectedDate($event)"
                  [minDate]="minDate"
                  [maxDate]="maxDate"
                    styleClass="p-inputtext-sm w-full" dateFormat="yy-mm-dd" ></p-calendar>
                  <label for="inputtext" class="p-text-xs">END DATE </label>
                </span>
              </div>
            </div>
          </div>
        </div> -->
        <!-- End First column -->

        <!-- 2nd column -->
        <div class="col-12">
          <div class="col-12 flex flex-column sm:flex-column md:flex-row lg:flex-row xl:flex-row justify-content-start align-items-center row-gap-3 flex-wrap">
            <div class="col-12 sm:col-12 md:col-6 lg:col-3 xl:col-3 surface-hover">
              <div class="col-12 h-4rem border-round border-2 border-bluegray-700" [ngClass]="{'text-bluegray-500': !themeService.currentUser }">
                <label class="text-xs font-bold px-2" style="letter-spacing: 2px;">SALES</label>
                <p class="font-bold px-2 py-1 text-red-500"> {{ counts.current_sales | currency: 'P ' }} </p>
              </div>
            </div>
            <div class="col-12 sm:col-12 md:col-6 lg:col-3 xl:col-3 surface-hover">
              <div class="col-12 h-4rem border-round border-2 border-teal-700" [ngClass]="{'text-teal-500': !themeService.currentUser }">
                <label class="text-xs font-bold px-2" style="letter-spacing: 2px;">CHARGE SALES</label>
                <p class="font-bold px-2 py-1"> {{ counts.charge_sales | currency: 'P ' }} </p>
              </div>
            </div>
            <div class="col-12 sm:col-12 md:col-6 lg:col-3 xl:col-3 surface-hover">
              <div class="col-12 h-4rem border-round border-2 border-teal-700" [ngClass]="{'text-teal-500': !themeService.currentUser }">
                <label class="text-xs font-bold px-2" style="letter-spacing: 2px;">DELIVERY SALES</label>
                <p class="font-bold px-2 py-1"> {{ counts.delivery_sales | currency: 'P ' }} </p>
              </div>
            </div>
            <div class="col-12 sm:col-12 md:col-6 lg:col-3 xl:col-3 surface-hover">
              <div class="col-12 h-4rem border-round border-2 border-teal-700" [ngClass]="{'text-teal-500': !themeService.currentUser }">
                <label class="text-xs font-bold px-2" style="letter-spacing: 2px;">CASH SALES</label>
                <p class="font-bold px-2 py-1"> {{ counts.cash_sales | currency: 'P ' }} </p>
              </div>
            </div>
          </div>
        </div>
        <!-- End of 2nd Column-->

        <!-- 3nd column -->
        <div class="col-12">
          <div class="col-12 flex flex-column sm:flex-column md:flex-row lg:flex-row xl:flex-row justify-content-start align-items-center row-gap-3 flex-wrap">
            <div class="col-12 sm:col-12 md:col-6 lg:col-3 xl:col-3 surface-hover">
              <div class="col-12 h-4rem border-round border-2 border-primary-700" [ngClass]="{'text-primary-500': !themeService.currentUser }">
                <label class="text-xs font-bold px-2" style="letter-spacing: 2px;">TOTAL PRODUCT</label>
                <p class="font-bold px-2 py-1"> {{ counts.products }} </p>
              </div>
            </div>
            <div class="col-12 sm:col-12 md:col-6 lg:col-3 xl:col-3 surface-hover">
              <div class="col-12 h-4rem border-round border-2 border-primary-700" [ngClass]="{'text-primary-500': !themeService.currentUser }">
                <label class="text-xs font-bold px-2" style="letter-spacing: 2px;">TOTAL CUSTOMER</label>
                <p class="font-bold px-2 py-1"> {{ counts.categories }} </p>
              </div>
            </div>
            <div class="col-12 sm:col-12 md:col-6 lg:col-3 xl:col-3 surface-hover">
              <div class="col-12 h-4rem border-round border-2 border-primary-700" [ngClass]="{'text-primary-500': !themeService.currentUser }">
                <label class="text-xs font-bold px-2" style="letter-spacing: 2px;">TOTAL CATEGORY</label>
                <p class="font-bold px-2 py-1"> {{ counts.customers }} </p>
              </div>
            </div>
            <div class="col-12 sm:col-12 md:col-6 lg:col-3 xl:col-3 surface-hover">
              <div class="col-12 h-4rem border-round border-2 border-primary-700" [ngClass]="{'text-primary-500': !themeService.currentUser }">
                <label class="text-xs font-bold px-2" style="letter-spacing: 2px;">TOTAL SUPPLIER</label>
                <p class="font-bold px-2 py-1"> {{ counts.suppliers  }} </p>
              </div>
            </div>
          </div>
        </div>
        <!-- End of 3nd Column-->

        <!-- 4th Column-->
        <div class="col-12">
          <div class="col-12 w-full flex justify-content-around aling-items-center flex-column sm:flex-column md:flex-column lg:flex-row xl:flex-row gap-2">
            <div class="col-12 sm:col-12 md:col-12 lg:col-8 xl:col-8 card border-y-3 border-primary">
              <div class="col-12 flex justify-conter-between align-items-center flex-row flex-wrap row-gap-3">
                <div class="col-12 sm:col-12 md:col-6 lg:col-3 xl:col-3">
                  <span class="p-float-label">
                    <p-calendar
                    inputId="basic"
                    class="p-inputtext-sm"
                    [(ngModel)]="current_date"
                    (onSelect)="selectedYear($event)"
                    view="year" dateFormat="yy"
                    [style]="{ width: '100%' }"
                      ></p-calendar>
                      <label for="inputtext" class="p-text-sm">SELECT YEAR</label>
                    </span>
                </div>
                <div class="col-12 sm:col-12 md:col-6 lg:col-3 xl:col-3">
                  <span class="p-float-label">
                    <p-dropdown [options]="graphs" [(ngModel)]="graph" class="outline-none w-full p-inputtext-sm" optionLabel="label" optionValue="value" (onChange)="selectedGraph($event)" styleClass="w-full"></p-dropdown>
                    <label for="float-input" class="text-sm">SELECT GRAPH</label>
                  </span>
                </div>
              </div>
    
              <div class="col-12">
                <p-chart [type]="graph" [options]="options" [data]="data" width="800"></p-chart>
              </div>
            </div>
            <div class="col-12 sm:col-12 md:col-12 lg:col-4 xl:col-4 card border-y-3 border-teal-500 max-w-100">
              <div class="col-12 flex justify-content-center align-items-center">
                <div class="col-12 sm:col-8 md:col-5 lg:col-10 xl:col-10 ">
                  <span class="p-float-label">
                    <p-dropdown [options]="product_list" [(ngModel)]="product_id" [filter]="true" filterBy="label" class="outline-none w-full p-inputtext-sm dashboard" optionLabel="label" optionValue="value" (onChange)="selectedProduct()" styleClass="w-full"></p-dropdown>
                    <label for="float-input" class="text-sm">SELECT PRODUCT</label>
                  </span>
                </div>
              </div>
              <p-chart type="doughnut" [data]="data_doughnut" [options]="doughnutOptions" width="350"></p-chart>
            </div>
          </div>
        </div>
        <!-- End of 4th column-->

        <!-- 5th Column-->

        <div class="col-12">
          <div class="col-12 flex flex-column sm:flex-column md:flex-column lg:flex-row xl:flex-row justify-content-around aling-items-center gap-2 px-2 w-full">
            <div class="col-12 sm:col-12 md:col-12 lg:col-8 xl:col-8 surface-hover border-round">
              <div class="col-12">
                <h5 class="text-sm"> LATEST 10 TRANSACTION </h5>
              </div>
              <div class="col-12">
                <p-table [value]="sales_orders" (onLazyLoad)="showAllSalesOrder($event)" [loading]="loading" [lazy]="true"
                [resizableColumns]="true" styleClass="p-datatable-gridlines p-datatable-sm p-datatable-striped" responsiveLayout="scroll">
                  <ng-template pTemplate="header">
                      <tr class="text-sm">
                          <th pResizableColumn style="text-align: center; width: 5%;">NO</th>
                          <th pResizableColumn>SO NUMBER.</th>
                          <th pResizableColumn>CUSTOMER</th>
                          <th pResizableColumn>DATE</th>
                          <th pResizableColumn>AMOUNT</th>
                          <th pResizableColumn>SALES TYPE</th>
                          <th pResizableColumn>ORDER STATUS</th>
                          <th pResizableColumn>STATUS</th>
                          <th pResizableColumn>ENCODED BY</th>
                          <th pResizableColumn>ENCODED DATE</th>
                          <th pResizableColumn style="text-align: center; width: 5%;">PRINT</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-order let-i="rowIndex">
                      <tr class="text-sm" [ngClass]="{'bg-red-600 text-white' : order.order_status == 'Cancel'}">
                          <td> {{ i + 1 }}</td>
                          <td>{{order.sales_order_number }}</td>
                          <td>{{order.customer?.customer_name }}</td>
                          <td>{{order.sales_date }}</td>
                          <td class="text-right">{{order.total_amount | currency: 'P ' }}</td>
                          <td>{{order.sales_type }}</td>
                          <td>{{order.order_status }}</td>
                          <td [ngClass]="{'text-red-600' : !order.status }" class="text-teal-500">{{order.status == 1 ? 'Paid' : 'Pending' }}</td>
                          <td>{{order.user?.name  }}</td>
                          <td>{{order.created_at | date: 'EEEE - MMMM d, y h:mm a' }}</td>
                          <td><button pButton type="button" label="Print" (click)="viewReceipt(order)" icon="pi pi-print" class="p-button-text p-button-success p-button-sm text-xs"></button></td>
                      </tr>
                  </ng-template>
                </p-table>
              </div>
              
            </div>
      
            <div class="col-12 sm:col-12 md:col-12 lg:col-4 xl:col-4 surface-hover border-round flex flex-column justify-content-start aling-items-center">
              <div class="col-12">
                <h5 class="text-sm text-center"> PRODUCT WITH LOW QUANTITY </h5>
              </div>
              <div class="col-12" *ngIf="products.length">
                <p-table [value]="products" (onLazyLoad)="showAllSalesOrder($event)" [loading]="loading" [lazy]="true"
                [resizableColumns]="true" styleClass="p-datatable-gridlines p-datatable-sm p-datatable-striped w-full" responsiveLayout="scroll">
                  <ng-template pTemplate="header">
                      <tr class="text-sm">
                          <th pResizableColumn>PRODUCT</th>
                          <th pResizableColumn>BRAND</th>
                          <th pResizableColumn>QTY</th>
                          <th pResizableColumn>STATUS</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-product let-i="rowIndex">
                      <tr class="text-sm">
                          <td>{{product.product_name + ' ' + product.description }}</td>
                          <td>{{product.brands?.brand_name }}</td>
                          <td>{{product.quantity }}</td>
                          <td [ngClass]="{'text-orange-500' : (product.quantity <= 10 && product.quantity > 0),'text-red-500': product.quantity === 0}">{{ product.quantity > 0 ? 'AVAILABLE' : 'OUT OF STOCK' }}</td>
                      </tr>
                  </ng-template>
                </p-table>
              </div>  
            </div>
          </div>
        </div>

        <!-- End of th column-->

      </div>
      <!-- Dashboard column divider-->
    </div>
    <!--- END OF DASHBOARD -->
</div>