
<div class="container max-w-full">
  <div class="grid">
    <div class="col-12 flex justify-content-center align-items center flex-column p-2">
      <div class="col-12">
        <form [formGroup]="supplierForm">
          <div class="col-12 flex justify-content-center align-items-center flex-column gap-3">
            <div class="col-12">
              <span class="p-float-label">
                <input type="text" formControlName="supplier_name" name="supplier_name" class="outline-none w-full" [ngClass]="{'ng-invalid ng-dirty' : (supplierForm.controls.supplier_name.touched && supplierForm.controls.supplier_name.invalid )}" required pInputText /> 
                <label for="float-input">Supplier Name</label>
              </span>
            </div>
            <div class="col-12">
              <span class="p-float-label">
                <input type="text" formControlName="contact_number" name="contact_number" class="outline-none w-full" [ngClass]="{'ng-invalid ng-dirty' : (supplierForm.controls.contact_number.touched && supplierForm.controls.contact_number.invalid )}" required pInputText /> 
                <label for="float-input">Contact Number</label>
              </span>
            </div>
            <div class="col-12">
              <span class="p-float-label">
                <input type="text" formControlName="email" name="email" class="outline-none w-full" [ngClass]="{'ng-invalid ng-dirty' : (supplierForm.controls.email.touched && supplierForm.controls.email.invalid )}" required pInputText /> 
                <label for="float-input">Email</label>
              </span>
            </div>
            <div class="col-12">
              <span class="p-float-label">
                <input type="text" formControlName="address" name="address" class="outline-none w-full" [ngClass]="{'ng-invalid ng-dirty' : (supplierForm.controls.address.touched && supplierForm.controls.address.invalid )}" required pInputText /> 
                <label for="float-input">Address</label>
              </span>
            </div>
            <div class="col-12">
              <span class="p-float-label">
                <input type="text" formControlName="created_by" name="created_by" class="outline-none w-full" [ngClass]="{'ng-invalid ng-dirty' : (supplierForm.controls.created_by.touched && supplierForm.controls.created_by.invalid )}" required pInputText /> 
                <label for="float-input">Created By</label>
              </span>
            </div>
            <div class="col-12 flex justify-content-start aling-items-center">
              <div class="col-12 px-1">
                <p-checkbox formControlName="is_active" name="is_active" [binary]="true" inputId="binary"></p-checkbox>
                <label for="binary" class="p-1"> {{ supplierForm.value.is_active == true ? 'Actived' : 'Disabled' }}</label> 
              </div>
            </div>
            <div class="col-12">
              <button pButton type="button" label="Submit" [disabled]="supplierForm.invalid" (click)="save()" class="p-button-raised p-button-primary p-button-sm w-full outline-none"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>