

<div class="container max-w-full">
  <div class="grid">
    <div class="col-12 flex justify-content-center aling-items-center flex-column gap-3">
      <div class="col-12 flex justify-content-start aling-items-center flex-row flex-wrap gap-3">
        <div class="col-12">
          <span class="p-float-label">
            <p-dropdown [options]="products" [(ngModel)]="product_id" (onChange)="selectedProduct($event)" 
            [filter]="true" filterBy="product_name" styleClass="outline-none w-full p-inputtext-sm order-detail" optionLabel="product_name" optionValue="id"></p-dropdown>
            <label for="float-input" class="text-xs">SELECT PRODUCT</label>
          </span>
        </div>
        <div class="col-12">
          <span class="p-float-label">
            <input type="number" class="outline-none w-full p-inputtext-sm" [disabled]="true" [(ngModel)]="price" required pInputText /> 
            <label for="float-input" class="text-xs">UNIT PRICE</label>
          </span>
        </div>

        <div class="col-12">
          <span class="p-float-label">
            <input type="number" class="outline-none w-full p-inputtext-sm" (change)="calculate()" [(ngModel)]="quantity" required pInputText /> 
            <label for="float-input" class="text-xs">QUANTITY</label>
          </span>
        </div>

        <div class="col-12">
          <span class="p-float-label">
            <input type="number" class="outline-none w-full p-inputtext-sm" [disabled]="true" [(ngModel)]="sub_total" required pInputText /> 
            <label for="float-input" class="text-xs">SUB TOTAL</label>
          </span>
        </div>

        <div class="col-12">
          <span class="p-float-label">
            <input type="number" class="outline-none w-full p-inputtext-sm" [(ngModel)]="discount" required pInputText /> 
            <label for="float-input" class="text-xs">DISCOUNT</label>
          </span>
        </div>

        <div class="col-12">
          <button pButton type="button" label="Add Item" (click)="selectProduct()" class="p-button-raised p-button-primary p-button-sm w-full outline-none"></button>
        </div>

      </div>
      <!-- <div class="col-12">
        <p-table [value]="products" (onLazyLoad)="showProductLazyLoad($event)" [loading]="loading" [lazy]="true"
        [resizableColumns]="true" styleClass="p-datatable-gridlines p-datatable-sm" responsiveLayout="scroll">
          <ng-template pTemplate="header">
              <tr class="text-sm">
                  <th pResizableColumn style="text-align: center; width: 5%;">Select</th>
                  <th pResizableColumn style="text-align: center;">Image</th>
                  <th pResizableColumn>Product Name</th>
                  <th pResizableColumn>Supplier</th>
                  <th pResizableColumn style="width: 80px;">Selling Price</th>
                  <th pResizableColumn style="width: 80px;">Quantity</th>
                  <th pResizableColumn style="width: 70px; text-align: center;">Status</th>
                  <th pResizableColumn style="width: 100px;">Created By</th>
                  <th pResizableColumn style="width: 15%;">Created Date</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product let-i="rowIndex">
              <tr class="text-xs">
                  <td><button pButton type="button" label="Select" (click)="selectProduct(product)" class="p-button-raised p-button-primary p-button-sm text-xs"></button></td>
                  <td style="text-align: center; width: 5%;"> <img [src]="imgUrl + product.image" alt="product_image" width="30" height="25" class="product_img"></td>
                  <td>{{product.product_name | titlecase }}</td>
                  <td>{{product.suppliers.supplier_name }}</td>
                  <td class="text-right">{{product.selling_price  }}</td>
                  <td class="text-right">{{product.quantity  }}</td>
                  <td [ngClass]="{'text-red-600' : !product.is_active }" class="text-teal-500 text-center">{{product.is_active == 1 ? 'Actived' : 'Disabled' }}</td>
                  <td>{{product.created_by | titlecase }}</td>
                  <td>{{product.created_at | date: 'EEEE - MMMM d, y h:mm a' }}</td>
              </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="col-12">
        <button pButton pRipple type="button" label="<<" class="p-button-text paginator" id="firstPage" (click)="firstPage()"></button>
        <button pButton pRipple type="button" label="<" class="p-button-text paginator" id="prevPage" (click)="prevPage()"></button>
        <button pButton pRipple type="button" [label]="page_detail" class="p-button-text paginator" disabled></button>
        <button pButton pRipple type="button" label=">" class="p-button-text paginator" id="nextPage" (click)="nextPage()"></button>
        <button pButton pRipple type="button" label=">>" class="p-button-text paginator" id="lastPage" (click)="lastPage()"></button>
      </div> -->
    </div>
  </div>
</div>

